<h1>NEW NEW NEW NEW NEW NEW</h1>

<form method = 'POST' action="/articles" enctype= 'application/x-www-form-urlencoded'>
  title<input type="text" name='title' >
  body<input type="text" name='body'>
  author<input type="text" name='author'>
  <button type= 'submit'>Change</button>
</form>

<form method="GET" action="/">
  <button>HOME</button>
</form>