<div id = 'homeBackground'>
<h2 id = 'titleHeader'>The House BoardShop</h2>

<div id = 'homeButtons'>
<form method="GET" action="/products">
  <button>PRODUCTS</button>
</form>
<form method= 'GET' action="/articles">
  <button>ARTICLES</button>
</form>
</div>
<div id = 'homeImage'>
<img src= 'http://cdn.snowboarder.com/blogs.dir/1/files/2016/11/DC-RoguetoMammoth-Nov16-walsh-2000-17-600x600.jpg' alt = "mamoth rail">
</div>
</div>