

<h1>Product Edit</h1>
<h1>Product: {{products.name}}</h1>

<form method = 'POST' action="/products/{{products.id}}?_method=PUT" enctype= 'application/x-www-form-urlencoded'>
  Name<input type="text" name='name' >
  Inventory<input type="text" name='inventory'>
  Price<input type="text" name='price'>
  <button type= 'submit'>Change</button>
</form>

<form method = 'POST' action="/products/{{products.id}}?_method=DELETE" enctype = 'application/x-www-form-urlencoded'>
  <button type='submit'>DELETE</button>
</form>

<form method='/' action="/">
  <button>HOME</button>
</form>