<h1>Product List</h1>


  <h2>Product {{products.name}}</h2>
  <h3>Category {{products.category}}</h3>
  <h3>Price ${{products.price}}</h3>
  <h3>Available {{products.inventory}}</h3>

  <form method='GET' action="/">
  <button>HOME</button>
</form>