<h1>NEW NEW NEW NEW NEW NEW</h1>

<form method = 'POST' action="/products" enctype= 'application/x-www-form-urlencoded'>
  Name<input type="text" name='name' >
  Inventory<input type="text" name='inventory'>
  Price<input type="text" name='price'>
  <button type= 'submit'>Change</button>
</form>