.productMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: blue; }

#editButton {
  height: 80%;
  margin-right: 10px;
  color: blue; }

#productList {
  color: blue; }

#homeButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px; }

#titleHeader {
  text-align: center;
  color: blue;
  font-size: 40px; }

#homeImage {
  display: flex;
  justify-content: center;
  margin: 15px; }

#homeBackground {
  height: 100%;
  background-color: black; }
