.productMain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: blue;
}

#editButton{
  height:80%;
  margin-right: 10px;
  color: blue;
}

#sortButtons{
  display: flex;
  flex-direction: row;
}